*{
  box-sizing: border-box;
}
body{
  background-color: rgb(41, 175, 131,0.7);
}

.container {
  background-color:rgb(106, 107, 107);
  width: 33%;
  border: 10px solid black;
  border-radius: 2%;
  margin-top: 100px;
  padding-right: 14px;
  padding-left: 14px;
}
#dis{
  background-color:rgb(211, 178, 203) ;
  height: 50px;
  margin-bottom: 15px;
}
#display{
 text-align: center;
 margin-top: 2%;
 padding:4px;
}

input{
  width: 100%;
  overflow: hidden;
  border: black solid 1px;
}
button{
  margin: 4%;
  padding: 0;
  height: 50px;
  border-radius: 50%;
  border: 2px solid black;
}

.col-sm-2{
  padding-left: 0;
  padding-right: 0;

}

@media (max-width: 1199px) {
  .container{
    width: 50%;
  }

}
@media (max-width: 644px) {
  .container{
    width: 75%;
  }
  

}
@media (max-width: 350px) {
  .container{
    width: 85%;
  }
  button{
    margin: 4%;
    padding: 0;
    height: 30px;
    border-radius: 50%;
  }

}
